@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600); 



/*
########  ########  ######  ######## ######## 
##     ## ##       ##    ## ##          ##    
##     ## ##       ##       ##          ##    
########  ######    ######  ######      ##    
##   ##   ##             ## ##          ##    
##    ##  ##       ##    ## ##          ##    
##     ## ########  ######  ########    ##    
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ## 
*/


header{
    height: 80px;
    position: relative;
}

header .logo{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 15;
}

.menu-hamb {
    cursor: pointer;
    right: 10%;
    max-width: 230px;
}


.mobile-btn {
    display: block;
    color: #684287;
    height: 36px;
    width: 36px;
    border-top: 4px solid;
    cursor: pointer;
    z-index: 10;
    float: right;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-35%);
  }
  
  .mobile-btn::after, .mobile-btn::before {
    content: '';
    display: block;
    height: 4px;
    margin-top: 6px;
    background: currentColor;
    position: relative;
    transition: transform .3s ease;
  }
  
  .mobile-btn.active {
    border-top-color: transparent;
    z-index: 10;
  }
  
  .mobile-btn.active::after {
    margin-top: 0px;
    top: 2px;
    transform: rotate(45deg);
  }
  
  .mobile-btn.active::before {
    margin-top: 0px;
    top: 6px;
    transform: rotate(135deg);
  }
  
  .menu-mobile {
    opacity: 0;
    display: none;
    text-align: center;
    margin-top: 0px;
    transform: translate3D(0, -50px, 0);
    transition: .3s;
    max-width: 230px;
    position: absolute;
    right: 10%;
    top: 0;
    padding-top: 80px;
    z-index: 10;
  }

  .menu-mobile a{
      text-decoration: none;
      color: #684287;
      font-size: 1.5em;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      padding: 0 10px;   
  }
  
  .menu-mobile li {
    line-height: 2em;
  }
  
  .menu-mobile.active {
    display: block;
    opacity: 1;
     transform: translate3D(0, 0, 0);
  }
/*
######  ##       #### ########  ######## ########  
##    ## ##        ##  ##     ## ##       ##     ## 
##       ##        ##  ##     ## ##       ##     ## 
 ######  ##        ##  ##     ## ######   ########  
      ## ##        ##  ##     ## ##       ##   ##   
##    ## ##        ##  ##     ## ##       ##    ##  
 ######  ######## #### ########  ######## ##     ## 
*/


 
#slider {
    background-color: #fff;
    text-align: center;
    position: relative;
}

#slider .container {
    background-color: #f5f5f5;
    width: 100%;
    margin: 0 auto;
    height: 80vh;
    overflow: hidden;
    z-index: 0;
}

#slider .container ul li {
    display: none;
    list-style:none;
    position: relative;
    z-index: 1;
}

#slider .container ul li.active {
    display: block;
}

#slider img { 
    vertical-align: middle; 
    width: 100vw; 
    height: 80vh;
    margin: 0;
    object-fit: cover
}

.description {
    color: #f2f2f2;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    bottom: 0;
    right: 0;
    width: 40%;
    height: 80vh;
    text-align: center;
}

.description p{
    font-size: 1em;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.description h2{
    font-size: 2em;
    margin-bottom: 10%;
    font-family: 'Open Sans Condensed', sans-serif;
}

.text{
    width: 75%;
    margin-left: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 767px){
    .description{
        width: 100%;
    }
}


/* Next and previous buttons */
#anterior, #seguinte {
    display: none;
}

#dots { 
    display: block;
    clear: both;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    right: 2%;
}

.dot {
    border: solid 2px;
    border-color: #ffffff;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 15px auto;
    border-radius: 50%;
    display: block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #ffffff;
}

/* Effects */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    } to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    } to {
        opacity: 1
    } 
}

.fadeIn{
    animation-name:fadeIn;
    -webkit-animation-name:fadeIn;
    animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    animation-timing-function:ease-in-out;
    -webkit-animation-timing-function:ease-in-out;
    visibility:visible!important
}

@keyframes fadeIn{
    0%{
        transform:scale(0);
        opacity:0
    }60%{
        transform:scale(1.1);
    }80%{
        transform:scale(0.9);
        opacity:1
    }100%{
        transform:scale(1);
        opacity:1
    }
}

@-webkit-keyframes fadeIn{
    0%{
        -webkit-transform:scale(0);
        opacity:0
    }60%{
        -webkit-transform:scale(1.1);
    }80%{
        -webkit-transform:scale(0.9);
        opacity:1
    }100%{
        -webkit-transform:scale(1);
        opacity:1
    }
}

.bigEntrance{
    animation-name:bigEntrance;
    -webkit-animation-name:bigEntrance;
    animation-duration:1.6s;
    -webkit-animation-duration:1.6s;
    animation-timing-function:ease-out;
    -webkit-animation-timing-function:ease-out;
    visibility:visible!important
}

@keyframes bigEntrance{
    0%{
        transform:scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity:.2
    }30%{
        transform:scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity:1
    }45%{
        transform:scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity:1
    }60%{
        transform:scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity:1
    }75%{transform:scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity:1
    }90%{
        transform:scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity:1
    }100%{transform:scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity:1
    }
}

@-webkit-keyframes bigEntrance{
    0%{
        -webkit-transform:scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity:.2
    }30%{
        -webkit-transform:scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity:1
    }45%{
        -webkit-transform:scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity:1
    }60%{
        -webkit-transform:scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity:1
    }75%{
        -webkit-transform:scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity:1
    }90%{
        -webkit-transform:scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity:1
    }100%{
        -webkit-transform:scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity:1
    }
}

@media only screen and (max-width: 300px) {
    .anterior, .seguinte, .description {font-size: 11px;}
}


/*
######## ##     ## ######## ##    ## ########  ######  
##       ##     ## ##       ###   ##    ##    ##    ## 
##       ##     ## ##       ####  ##    ##    ##       
######   ##     ## ######   ## ## ##    ##     ######  
##        ##   ##  ##       ##  ####    ##          ## 
##         ## ##   ##       ##   ###    ##    ##    ## 
########    ###    ######## ##    ##    ##     ######  
*/


#events{
    background-color: #ffffff;
    text-align: center;
    position: relative;
}

#events a{
    text-decoration: none;
}

#events h3{
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100px;
    margin: 50px auto;
    color: #684287;
    border-bottom: 2px solid #684287;
}

#events .container{
    margin: 0 auto;
}

#events figure{
    display: inline-block;
    margin: 0 2% 70px;
}

#events img{
    max-width: 200px;  
}

#events figcaption{
    text-align: left;
    margin: 0 5%;
}

#events h4{
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
}

#events p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
}

#edit-event label{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 800
}

/*
   ###    ##       ########  ##     ## ##     ##  ######  
  ## ##   ##       ##     ## ##     ## ###   ### ##    ## 
 ##   ##  ##       ##     ## ##     ## #### #### ##       
##     ## ##       ########  ##     ## ## ### ##  ######  
######### ##       ##     ## ##     ## ##     ##       ## 
##     ## ##       ##     ## ##     ## ##     ## ##    ## 
##     ## ######## ########   #######  ##     ##  ######  
*/

#albums{
    position: relative;
    height: 80vh;
    width: 100%;
}

#album-left{
    position: absolute;
    width: 49.5%;
    left: 0;
    height: 100%;
    cursor: pointer;  
}

#album-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#album-right{
    position: absolute;
    width: 49.5%;
    right: 0;
    height: 100%;
    cursor: pointer;
}

#album-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#album-left::after{
    content: '';
    display: block;
    background-color: #684287;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 101%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 5;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

#album-right::before{
    content: '';
    display: block;
    background-color: #684287;
    width: 30px;    
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 101%;
    transform: translateY(50%) translateX(50%);
    z-index: 5;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.6);
}

.album:hover .overlay {
    opacity: 1;
}

.album h5 {
    color: #ffffff;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    width: 60%;
    font-family: 'Open Sans Condensed', sans-serif;
}

@media only screen and (max-width: 768px) {
    #album-left{
        width: 100%;
        height: 49.5%;
        top: 0;
    }

    #album-left h5{
        text-align: center;
    }

    #album-right{
        width: 100%;
        height: 49.5%;
        bottom: 0;
        text-align: center;
    }

    #album-right h5{
        text-align: center;
    }

    #album-left::after{
        top: 101%;
        transform: translateY(-50%);
        left: -1%;
    }

    #album-right::before{
        top: -1%;
        transform: translateY(-50%);
        right: -1%;
    }
}


.album-suspen{
    width: 80%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    display: none;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #684287;
    z-index: 10;
}
.album-suspen img{
    max-width: 300px;
    display: inline-block;
    margin: 30px 10px;

}

.delete{
    position:fixed;
    top: 10%;
    right: 10%;
    display: none;
    padding: 10px;
    border-radius: 50px;
    z-index: 15px;
}

.delete img{
    right: 30px;
    width: 30px;
}

.active-del{
    display: none;
}

.active-album{
    display: block;
    position:fixed;
    top:50%; 
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ##
*/

footer{
    height: 80px;
    position: relative;
}

footer .logo{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.back-to-top {
    position: absolute;
    background-color:#684287;
    padding: 0.5em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}


/*
   ###    ########  ########  
  ## ##   ##     ## ##     ## 
 ##   ##  ##     ## ##     ## 
##     ## ##     ## ##     ## 
######### ##     ## ##     ## 
##     ## ##     ## ##     ## 
##     ## ########  ########  
*/

.event{
    position: relative;
    min-height: calc(100vh - 160px);
}

.event .container{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 30%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    border: 3px solid #684287;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.event h2{
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #684287;
}

#image-event{
    clear: both;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.title-event{
    clear: both;
    width: 100%;
    border: 2px solid #684287;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
}

.description-event{
   
    clear: both;
    width: 100%;
    border: 2px solid #684287;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
}

.submit-event{
   
    clear: both;
    
    padding: 5px;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: #684287;
    color: #ffffff;
    border: none;
    border-radius: 10px;
 
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .event .container{
        max-width: 80%;
        overflow: hidden;
    }

    .submit-event{
        padding: 5px;
        font-size: 0.8em;
    }
}

/*


##       ####  ######  ########    ######## ##     ## ######## ##    ## ######## 
##        ##  ##    ##    ##       ##       ##     ## ##       ###   ##    ##    
##        ##  ##          ##       ##       ##     ## ##       ####  ##    ##    
##        ##   ######     ##       ######   ##     ## ######   ## ## ##    ##    
##        ##        ##    ##       ##        ##   ##  ##       ##  ####    ##    
##        ##  ##    ##    ##       ##         ## ##   ##       ##   ###    ##    
######## ####  ######     ##       ########    ###    ######## ##    ##    ##    

*/

#list-events{
    background-color: #ffffff;
    text-align: center;
    position: relative;
    min-height: calc(100vh - 180px);
    
}

#list-events h1{
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 200px;
    margin: 20px auto 50px;
    color: #684287;
    border-bottom: 2px solid #684287;
}

#list-events .container{
    max-width: 960px;
    margin: 0 auto;
}

#list-events .event-item{
    display: inline-block;
    margin: 0 2% 20px;
}

#list-events img{
    max-width: 200px; 
}

#list-events .event-text{
    text-align: left;
    margin: 0 5%;
}

#list-events h4{
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    text-align: left;
}

#list-events p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    text-align: left;
}

.edit-event{
    clear: both;
    margin-top: 10px;
    padding: 5px;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: #684287;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.del-event{
    margin-top: 10px;
    padding: 5px;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: #684287;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.add-event{
    clear: both;
    padding: 10px;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: #684287;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    float: right;
    margin-top: 5px;
    margin-right: 10px;  
}

.add-event-respon{
    display: none;
}

@media screen and (max-width: 425px){
    .add-event{
        display: none;
    }

    .add-event-respon{
        display: block;
    }

    .add-event-respon img{
        width: 30px;
        float: right;
        margin: 10px 30px auto;
    }
}
